
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3em;
    .mapImg {
        width: 70%;
        min-width: 250px;
        img {
            width: 100%;
            height:auto;
        }
    }
    .fieldsNButton {
        display: flex; 
        flex-direction: column;
        width: 50%;
        .fields {
            margin-top: 2em;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            font-size: 1.1rem;
            .fromKeyword, .toKeyword {
                font-size: 1.2rem;
            }
            .fromDropdown, .toDropdown {
                width: clamp(100px, 25%, 350px);
                .otherFields {
                    position: relative;
                    width: 100%;
                }
                .otherFields p, .selectedDestination {
                    background: $main;
                    color: $secondary;
                    border-radius: 5px;
                    width: 100%;
                    cursor: pointer;
                }
                .otherFields p {
                    margin-top: 1px;
                    padding: 0.2em;
                }
                .selectedDestination {
                    margin-bottom: 2px;
                    padding: 0.5em;
                }
            }
            .arrow {
                align-items: flex-start;
            }
        }
    .computeDestinations {
        align-self: flex-end;
        margin-top: 15px;
        background: $main;
        color: $secondary;
        padding: 0.75em;
        border-radius: 15px;
        border: 2px solid $secondary;
        cursor: pointer;
        &:hover {
            border-color: $main;
            background: $secondary;
            color: $main;
        }
    }
    }
    .result {
        font-size: 1.1rem;
        margin-top: 5px;
        text-align: center;
    }
}   

@media (max-width: 750px) {
    .mapImg, .fieldsNButton {
        width: 100% !important;
    }
    .fieldsNButton {
        padding: 0.5em;
    }
}

@media (min-width: 1000px) {
    .mapImg {
        width: 50% !important;
    }
}

.legend {
    display: flex;
    flex-direction:column;
    gap: 10px;
    font-size: 1.1rem;
    padding-right: 5em;
    align-self: flex-end;
    .legendCat {
        display: flex;
        gap: 10px;
    }
    .color {
        width: 20px;
        height: 20px;
    }
    .publicColor {
        background: black;
    }
    .ridesharingColor {
        background: yellow;
    }
    .alternativeColor {
        background: gray;
    }
}